<%= render :partial => 'main/header' %> 
<div id="todayreminder" style="text-align:center;"></div>
<div id="slider">
  <% @products_image.each do |image| %>
    <%= image_tag image.image_url, :class => "show" %>
  <% end %>
</div>

<div id="sale-info-box">
  <div id="sale"> </div>
  <div id="sale-info-date"></div>
  <div id="sale-info-time"><%= @products.last.date.to_formatted_s(:db)  %></div>
  <div id="sale-info-title"><%= @products.last.title %></div>
  <div id="sale-info-line"> </div>
  <div id="sale-info-content"><%= @products.last.description.first(60)%>... </div>
  <div id="sale-info-price"><%= @products.last.price %></div>
  <div id="sale-info-buy"><%= link_to image_tag('stucker/stucker07.png'), 'store' %></div>
  <div id="sale-info-quantity">19</div>
</div>

<div id="bgnoise"></div>
<div id="next"></div>
<div id="prev"></div>

<%= render :partial => 'copyright' %>