<div class="store-container">
  <div class="row">
    <div class="well">
      <%= link_to 'New', new_product_path, :class => 'button' %>
    </div>
  </div>
  
  <% @products.each do |product| %>
  <div class="row well">  
    <div class="span2">
      <%= image_tag(product.image_url) %>
    </div>
    <div class="span7">
      產品名稱：<%= product.title %><br />
      描述：<%= truncate(strip_tags(product.description),length: 80) %><br />
      剩餘數量：<%= product.quantity - product.orders.size %><br/>
      訂單：<br/>
      <% product.orders.each do |order| %>
        <%= order.name %>, <%= order.time_type %><br />
      <% end %>
    </div>
    <div class="span2">
      <%= link_to 'Show', product %><br />
      <%= link_to 'Edit', edit_product_path(product) %><br />
      <%= link_to 'Destroy', product, 
        confirm: 'Are you sure?',
        method: :delete %>
    </div>
    </div>
  <% end %>  
  
</div>